<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>i18n_db</title>
    <%= javascript_include_tag :defaults, "builder" %>
    
    <%= stylesheet_link_tag "admin", "i18n_db_admin" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>